[Unit]
Description=Next.js Frontend for erp
After=network.target

[Service]
User=mounadi05
Group=mounadi05
WorkingDirectory=/home/mounadi05/chridirect/erp/frontend
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5
Environment=NODE_ENV=production
Environment=PORT=3000

[Install]
WantedBy=multi-user.target
