[Unit]
Description=Next.js Frontend for store
After=network.target

[Service]
User=mounadi05
Group=mounadi05
WorkingDirectory=/home/mounadi05/chridirect/store
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5
Environment=NODE_ENV=production
Environment=PORT=3001

[Install]
WantedBy=multi-user.target
